@charset "utf-8";

/*------------------------------------------------
    base
--------------------------------------------------*/
* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: "ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic","arial","helvetica","sans-serif";
    font-style: normal;
    -webkit-text-size-adjust:none;
}
*:after { display:block; clear:both; }
article, aside, figure, footer, header,hgroup, nav, section { display:block; }

html, body{
    background: #ffffff;
}
input[type="checkbox"],
input[type="radio"],
select { display:inline; vertical-align: baseline ;margin-right: 5px ;}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {}
textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
input[type="text"],textarea,select {
    color: #5a5c63;
    font-size: 100% ;
    width: 100% ;
    padding: 3px ;
    border: 1px solid #999999 ;
     -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) inset ;
     -webkit-box-sizing: border-box;
}
select { width: 40% ; }

html,body,p,dl,ol,ul,h1,h2,h3,h4,h5,h6,form,table,td{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
body{
    position: relative;
    font-size: 75%;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 100%;
}
img{
    border: none;
}
ul, ol{
    list-style: none;
}
a:link{
    color: #e4cfae;
    text-decoration: underline;
}
a:visited{
    color: #e4cfae;
    text-decoration: underline;
}
a:hover{
    color: #ccc9d6;
    text-decoration: none;
}
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1;
}
/*------------------------------------------------
    header
--------------------------------------------------*/
.header{
    color: #69685a;
}
.header_top{
    width: 1080px;
    height: 276px;
    background-color: #69685a;
}
.header h1{
    text-align: center;
    padding-top: 40px;
}
.header a{
    color: white;
    font-size: 15px;
    float:right;
}
.header .mitsukoshi{  
    position: relative;
    top: -200px;
    right: 50px;
    font-family: "helvetica";
    font-size: 32px;
    text-decoration: none;    
}
.header .fb{  
    position: relative;
    top: -100px;
    left: 950px;
}

.header ul{
    margin: 24px 0;
}
.header li{
    float :left; 
    font-size: 44px;
    line-height:56px;
    width: 350px;
    height: 150px;
    margin: 5px;

    background-color: #f5f4e1;
}
.header .top{
    background-color: white;
}
.header ul li p{
    text-align: center;
}
.header ul li .short{
    line-height: 150px;
}
.header ul li .long{
    position: relative;
    top: 25px;
    line-height: 50px;
    /*padding-top: 25px;*/
}




/*.header ul li p .campaign{
    padding-top: 20px;
}*/

/*------------------------------------------------
    search
--------------------------------------------------*/
.search{
    background-color: #ede7be;
    font-size: 48px;
    color: #69685a;
}
.hide_list{
    display: none;
}
/*li .menu{
    width: 1080px;
    height: 198px;
    margin-bottom: 18px;

    border: solid 1px black;
    background-color: black;
}*/
#menu_top, #menu_bottom{
    height: 24px;
}
.menu{
    width: 990px;
    height: 198px;
    margin-left: 45px;
    margin-top: 18px;
}
/*.search ul li p{
    position: relative;
    top: -160px;
    right: -348px; 
    font-size: 60px;
}*/
.search ul li p{
    position: relative;
    top: -216px;
    right: -348px; 
    font-size: 60px;
    line-height: 198px;
}

.search ul ul li{
    width: 918px;
    height: 162px;
    margin-left: 81px;
}
.search ul ul li p{
    position: relative;
    top: -180px;
    right: -48px;    
    font-size: 50px;
    line-height: 162px;
}

.search ul ul ul{
    width: 916px;
    height: 162px;
    margin-left: 82px;
}
.search ul ul ul li{
    width: 229px;
    height: 162px;
    float: left;
    margin-left: 0px;
}
.search ul ul ul li p{
    position: relative;
    top: -180px;
    right: -30px;    /*保留*/
    font-size: 36px;
    line-height: 162px;
}
div #small_menu{
    width: 1080px;
    height: 468px;
    padding-left: 60px;
}
#small_menu li {
    width: 462px;
    height: 132px;
    margin-left: 12px;
    margin-top: 18px;
    float: left;
}
#small_menu p {
    position: relative;
    top: -162px;
    right: -42px;
    font-size: 48px;
    line-height: 162px;
}

/*------------------------------------------------
    news
--------------------------------------------------*/
.news p{
    width: 1080px;
    height: 114px;
    font-size: 48px;
    line-height: 114px;
    padding-left: 114px;
    border-bottom:  solid 1px #ede7be;
    color: #69685a;
}
.news img{
    padding-top: 84px;
    padding-bottom: 84px;
    padding-left: 477px;
}

/*------------------------------------------------
    body
--------------------------------------------------*/
body{
    width: 1080px;
}
.wrapper{
    overflow-x: hidden; 
}
h2{
    background-color: #69685a;
    color: white;
    font-size: 56px;
    weight: 1080px;
    height: 118px;
    padding-left: 66px;
    line-height: 118px;

}
div .span{
    height: 84px;
    background-color: white;
}

/*------------------------------------------------
    footer
--------------------------------------------------*/
.footer li{
    width: 1035px;
    height: 147px;
    font-size: 45px;
    line-height: 147px;
    color: white;
    background-color: #69685a;
    padding-left: 45px;
    margin-bottom: 4px;
}
.footer p{
    font-size: 36px;
    text-align: center;
    color: #69685a;
}



/*
 * Slideshow
 */

.slideshow {
    background-color: rgb(0, 0, 0);
    height: 552px;
    min-width: 1080px;
    overflow: hidden;   /*難しい*/
    position: relative;
    margin: 352px 0 84px 0;
}

.slideshow_slides {
    height: 100%;
    position: absolute;
    width: 100%;
    /* left は JavaScript で指定 */
}
.slideshow_slides .slide {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    /* left は JavaScript で指定 */
}
.slideshow_slides .slide img {
    left: 50%;
    margin-left: -540px;    /*変更*/
    position: absolute;
}

.slideshow_nav a,
.slideshow_indicator a {
    background-color: rgba(0, 0, 0, 0); /* for IE9 */
    overflow: hidden;
}
.slideshow_nav a:before,
.slideshow_indicator a:before {
    content: url(../img/sprites.png);
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.slideshow_nav a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 72px;
    height: 72px;
    margin-top: -36px;
}
.slideshow_nav a.prev {
    margin-left: calc(-50% + 8px);  /*動かす*/
}
.slideshow_nav a.prev:before {  /*動かしちゃだめ*/
    margin-top: -20px;    
}
.slideshow_nav a.next {
    margin-left: calc(50% - 80px);   /*動かす*/
}
.slideshow_nav a.next:before {  /*動かしちゃだめ*/
    margin-left: -80px;
    margin-top: -20px;
}
.slideshow_nav a.disabled {
    display: none;
}

.slideshow_indicator {
    bottom: 30px;
    height: 16px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    /*overflow: hidden;*/
}
.slideshow_indicator a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    margin-right: 3px;
}
.slideshow_indicator a.active {
    cursor: default;
}
.slideshow_indicator a:before {
    margin-left: -110px;
}
.slideshow_indicator a.active:before {
    margin-left: -130px;
}

/* JavsScript 無効時 */
.no-js .slideshow {
    height: auto;
}
.no-js .slideshow_slides {
    height: auto;
    position: static;
}
.no-js .slideshow_slides .slide {
    display: block;
    height: auto;
    position: static;
}
.no-js .slideshow_slides .slide img {
    margin: auto;
    position: static;
}
.no-js .slideshow_nav,
.no-js .slideshow_indicator {
    display: none;
}




/*ここからはお試し*/
body{
    /*background-color: whitesmoke;*/ 
    /*border:  solid 1px black;*/
    /*overflow-x: hidden; */
}
.wrapper{
    width: 1080px;
    overflow-x: hidden; 
}



/*.footer{
    border: solid 1px black;
}*/
